html {
  height: 100%;
}
body {
  color: #dc291e;
  height: 100%;
  background: #212121;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  overflow: auto;
}
.hidden {
  display: none;
}
.color-white {
  color: #FFFFFF;
}
.color-green {
  color: #4CAF50;
}
.color-red {
  color: #f44336;
}
.footer {
  position: absolute;
  background: #303030;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  width: 100%;
  margin-top: -30px;
  /* negative value of footer height */
  line-height: 28px;
  height: 28px;
  font-size: 14px;
  clear: both;
}
.footer .container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.footer .container .name {
  width: 50%;
  float: right;
  text-align: right;
}
.footer .container .tag {
  width: 50%;
  float: left;
  text-align: left;
}
.clear {
  clear: both;
}
.champion-selector {
  width: 544px;
  background: #303030;
}
.champion-selector .row {
  width: 100%;
}
.champion-selector .row .champ {
  width: 50px;
  margin-left: 4px;
  float: left;
}
.champion-selector .row .champ img {
  width: 50px;
  height: 50px;
}
.champSelect {
  position: absolute;
  background: #303030;
  margin-top: 20px;
  padding: 5px;
  width: 240px;
  z-index: 5;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
.champSelect div {
  float: left;
}
.champSelect div img {
  width: 40px;
  height: 40px;
}
.header {
  width: 100%;
  background: #000000;
  padding-top: 90px;
  padding-bottom: 130px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.header .container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.header .container .userStats {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: #303030;
  margin-top: 30px;
  text-align: center;
}
.header .container .userStats .head {
  background: #dc291e;
  opacity: 0.6;
  height: 20px;
  width: 100%;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
.header .container .userStats .head div {
  width: 10%;
  float: left;
}
.header .container .userStats .row {
  height: 20px;
}
.header .container .userStats .row div {
  width: 10%;
  float: left;
}
.header .container .version {
  text-align: center;
  color: white;
  cursor: pointer;
}
.header .container .version .unset {
  color: #dc291e;
  opacity: 0.5;
}
.header .container .title {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 76px;
}
.header .container .item-build {
  width: 790px;
  padding-left: 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.header .container .item-build .item {
  margin-left: 10px;
  margin-right: 10px;
  width: 110px;
  min-height: 100px;
  background: #303030;
  float: left;
  position: relative;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.header .container .item-build .item .item-label {
  background: #dc291e;
  opacity: 0.6;
  height: 20px;
  width: 100%;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
.header .container .item-build .item .img {
  margin-top: 8px;
  margin-left: 24px;
  height: 64px;
  width: 64px;
  cursor: pointer;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
.header .container .item-build .item .img:hover {
  opacity: 0.6;
}
.content {
  position: relative;
  top: -100px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.content .item-build-list {
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  background: #303030;
}
.content .item-build-list .item {
  width: 100%;
  background: #424242;
  color: white;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.content .item-build-list .item:hover {
  opacity: 0.8;
}
.content .item-build-list .item.alt {
  background: #525252;
}
.content .item-build-list .item div {
  width: 10%;
  float: left;
}
.content .item-build-list .item .item-icon {
  width: 10%;
  min-height: 1px;
  height: 40px;
}
.content .item-build-list .item .item-icon img {
  margin-top: 2px;
  height: 36px;
}
.content .item-build-list .item .name {
  width: 20%;
}
.content .item-build-list .item img {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
.content .item-build-list .headers {
  background: #dc291e;
  color: #ffffff;
  opacity: 0.6;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.content .item-build-list .headers div {
  width: 10%;
  float: left;
}
.content .item-build-list .headers .item-icon {
  width: 10%;
  min-height: 1px;
  height: 40px;
}
.content .item-build-list .headers .item-icon img {
  margin-top: 2px;
  height: 36px;
}
.content .item-build-list .headers .name {
  width: 20%;
}
.report {
  color: #FFFFFF;
  width: 800px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
  padding-right: 100px;
}
